@page
@model MoneyPlus.Pages.Investments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add</h1>

<h4>Financial Investment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Investment.Id" />
            <div class="form-group">
                <label asp-for="Investment.PayeeId" class="control-label">Payee</label>
                <select asp-for="Investment.PayeeId" asp-items="ViewBag.PayeeId">
                    <option value="" disabled selected>Choose one:</option>
                </select>
            </div>
            <p>
                <a asp-page=".././Payees/Create" asp-route-previousPage="Investments/Create">Or register a new Payee</a>
            </p>
            <div class="form-group">
                <label asp-for="Investment.OriginWalletId" class="control-label">Origin Wallet</label>
                <select asp-for="Investment.OriginWalletId" asp-items="ViewBag.OriginWalletId" required>
                    <option value="" disabled selected>Choose one:</option>
                </select>
            </div>
            <p></p>
            <div class="form-group">
                <label asp-for="Wallet.Name" class="control-label">Destination Wallet Name</label>
                <input asp-for="Wallet.Name" class="form-control" required />
                <span asp-validation-for="Wallet.Name" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group" : optional>
                <label asp-for="Investment.Description" class="control-label"></label>
                <input asp-for="Investment.Description" class="form-control" placeholder="optional" />
                <span asp-validation-for="Investment.Description" class="text-danger"></span>
            </div>
            <p></p>
            @*<div class="form-group">
            <label asp-for="Investment.Type" class="control-label"></label>
            <input asp-for="Investment.Type" class="form-control" />
            <span asp-validation-for="Investment.Type" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Investment.Amount" class="control-label"></label>
                <input asp-for="Investment.Amount" class="form-control" />
                <span asp-validation-for="Investment.Amount" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <label asp-for="Investment.Date" class="control-label"></label>
                <input asp-for="Investment.Date" class="form-control" />
                <span asp-validation-for="Investment.Date" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <label asp-for="Investment.SubcategoryId" class="control-label">Subcategory</label>
                <select asp-for="Investment.SubcategoryId" asp-items="ViewBag.SubcategoryId" required>
                    <option value="" disabled selected>Choose one:</option>
                </select>
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}