@page
@model MoneyPlus.Pages.HomeModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<br />
<p align="justify">We have developed a web app to help you monitor your financial health, allowing you to track all your cash flows, investments and assets. With this in mind, we also aim to forecast your retirement age, taking your lifestyle into account.</p>
<p></p>
<p align="justify">The financial aspect is crucial for anyone, and it is extremely important to assess the situation we are in to decide the right path to follow. As with a GPS, it is not enough to know where we want to go, as the path is different, even if the destination is the same.</p>
<br />
<h5>HOW MONEY+ WORKS</h5>
<br />
<p>
    Under the menu Your Records, you'll find six different sections where you'll be able to register, consult and update your inputs.
</p>

<p align="justify">
    Firstly, section Assets refers to your tangible assets, Property, Plant and Equipment (PP&E). Here, you can include any PP&E you wish naming it as you see fit and assigning it a value. However, be alerted: you mustn't have multiple assets under the same name. Later, these assets can be associated with your cash outflows, if you decide so.
</p>
<p align="justify">
    In the section Payees, you get to make a list of entities you frequently buy from. It's up to you whether you want to include their Tax Number or not. But again, make sure they all have different names.
</p>
<p align="justify">
    Next, your Wallets. We assume you have money in different places. For example, one or two bank accounts, a piggy bank saving a few coins for some purchase you've been dreaming of, or even a stash of bills under your mattress for a rainy day. All these can be a wallet in Money+. If you have some sort of Emergency Fund, you can make a wallet out of it.
</p>
<p align="justify">
    A wallet can be the subject of a withdrawal or a deposit any time you want. To do so, you must resort to a Cash Outflow or Inflow record, respectivelly. In addition, you can optionally make transfers directly from one wallet to another. Just go to the Wallets section and proceed to transfer. By the way, it's worth mentioning all these sections open with a dashboard displaying all your registers so far.
</p>
<p align="justify">
    Whenever you have an expense, don't forget to register it in the Cash Outflows section. First you'll see a global statement of all your cash outflows (as aforementioned), from the most recent to the oldest. In the upper left corner of your screen you will find a blue button “Add New” and there you'll be able to enter your record.
</p>
<p align="justify">
    To do this, you will be asked to choose one of your previously registered Payees or you can select “Or register a new Payee” from there. Afterwards, you must select your origin wallet, enter the amount of your outflow, the date and choose the subcategory in which it falls. Optionally, you can write a short description or associate it with an asset you own. By this, we mean Asset "Beach Home", for example, may be part of a cash outflow when you're buying it or when it makes you spend some money on reparations. In case you'd like to update or rectify your outflow later, just go to the Cash Outflows section, find the desired outflow and click on "Edit".
</p>
<p align="justify">
    As for Cash Inflows, no big news. The procedures are pretty much the same. Everything is very intuitive on Money+ and we're sure you'll know exactly how to move around there.
</p>
<p align="justify">
    Last, but not least, under the menu Your Records, you'll find a Financial Investments section. This section is reserved to financial transactions that bring you some sort of intangible possession. There aren't major differences to the the other record types except in this case you'll have to select an origin wallet (money always leaves from somewhere, right?) and name your destination wallet (i.e., the wallet that consubstanciates your investmente). For example, if you were investing on Money+ stocks you could call that destination wallet "Money+ Stocks" or "I own part of the coolest enterprise in the world". It's absolutely up to you.
</p>
<p align="justify">
    Plus, when you sell your investment we move the money back to different wallets for you. Just click Sell, make your choices and we'll deal with the rest.
</p>
<p align="justify">
    Under a different menu, Your Reports, you'll be able to consult several reports we have provided so you can have a more conscious and realistic view of your finances. As of today, you'll be able to find:
</p>
<ul style="list-style-type:square;">
    <li>An Yearly Balance of your spendings by category </li>
    <li>A Monthly Balance of outflows based on category and subcategory in a given year</li>
    <li>A Monthly Listing of your detailed outflows that you can filter by being associated to a certain asset, belonging to a given category or having been made with some payee</li>
    <li>A simulator of how many years off work you get to have given your current personal wealth, your expectations of future inflation and return on investment, and your average cost of life over the past 2 years</li>
</ul>
<br />
<h7 b><b>MONEY+. Your blood, your sweat, your future dreamy life.</b></h7>