@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>
<head>
    <style>
        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>

    <div class="text-center">
        <div class="center">
            <h1 class="display-4">
                Welcome to MONEY+
            </h1>
            <p></p>
            <p>Your blood, your sweat, your future dreamy life.</p>
        </div>

</body>
</html>



