@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br />
<p>We assure nothing.</p>
<p>Your data can be easilly read, updated or stolen by authorized or unauthoried entities.</p>
<p>Nothing else to see here.</p>

